:root {
  --primary: #5d9cff;
  --text: #fff;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /*opacity: 0;*/
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000de;
    /* backdrop-filter: blur(5px); */
    z-index: 100;
}

.splash .splash-header {
    color: var(--text);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.outer {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-container {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    min-height: 175px;
    background-image: linear-gradient(rgb(22 22 22), rgb(22 22 22));
    border-radius: 12px;
    /*box-shadow: 4px 4px 9px 2px rgb(0, 0, 0);*/
    /*overflow: hidden;*/
    padding-bottom: 32.5px;
}

.profile .pic {
    width: 150px;
    height: 150px;
    border-radius: 500px;
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
    object-fit: cover;
}

.profile .displayname {
    color: #efefef;
    margin-left: 195px;
    margin-top: 35px;
    font-size: 30px;
    font-weight: 600;
    display: inline-flex;
}

.profile .username {
    color: #7f7f7f;
    margin-left: 195px;
    font-size: 15px;
    font-weight: 400;
}

.profile .description {
    color: #7f7f7f;
    margin-left: 195px;
    margin-top: 7.5px;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    max-height: 100px;
    width: 380px;
    max-width: 380px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.links {
    display: flex;
    flex-direction: row;
    margin-left: 195px;
    margin-top: 4px;
    flex-wrap: wrap;
    width: 390px;
    margin-bottom: 7px;
}

.link {
    margin-right: 3.5px;
    transition: 0.3s;
    margin-left: 3.5px;
    margin-top: 7px;
}

.link:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.link svg {
    color: #fff;
    fill: #ffffff;
    /*width: 38px;*/
    height: 38px;
    filter: drop-shadow(1px 1px 5px #ffffff);
}

.link svg:hover {
    cursor: pointer;
}

.badges {
    margin-left: 6px;
    margin-top: -2px;
    background: #f0f0f014;
    padding: 5px 2px 5px 5px;
    border-radius: 10px;
    border: solid #ebebeb40 1px;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.badge {
    margin-right: 3px;
    width: 30px;
    height: 30px;
}

.default-badge {
   /* filter: brightness(100) drop-shadow(1px 1px 5px #fffff) saturate(0) contrast(100); */
}

.video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #0009;
    position: absolute;
    /* backdrop-filter: blur(7px); */
}

.views {
    position: absolute;
    bottom: 0;
    right: 0;
}

.views-text {
    color: #ffffff;
    font-weight: 600;
    padding: 12.5px;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
